Source: board-udoo
Section: embedded
Priority: extra
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

# TODO: deal with bootloader

Package: board-udoo
Architecture: all
Depends:
 linux-udoo,
 firmware-udoo,
 firmware-ralink,
 baseconfig-ptux,
 ptux-essential,
 systemd-sysv,
 dpkg-autoconfigure-at-boot,
 module-init-tools,
 connman-run,
 iproute,
 iputils-ping,
 wpasupplicant,
 procps,
 vim-tiny,
 ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
